.dropdown-menu-large {
  transform: translate3d(0px, 38px, 0px) !important;
  min-width: 1000px !important;
  padding: 0px;
  min-height: 600px;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
